@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.krona-one {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
}

.kulim-park {
  font-family: "Kulim Park", sans-serif;
  font-style: normal;
}

.card {
  box-shadow: 5px 5px rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

body {
  @apply kulim-park;
  font-weight: 400;
}

.mdx * {
  @apply text-base mt-2;
}

.mdx h1,
.mdx h2,
.mdx h3,
.mdx h4,
.mdx h5,
.mdx h6 {
  @apply krona-one;
}

.mdx h1 {
  @apply text-2xl;
}

.mdx h2 {
  @apply text-xl;
}

.mdx a {
  @apply text-mDarkBlue underline font-bold;
}

.mdx ul {
  @apply list-disc;
}

.mdx ol {
  @apply list-decimal;
}

.mdx blockquote {
  @apply text-lg;
}

.mdx img {
  @apply w-full;
}

.mdx hr {
  @apply border-t-2;
}

.mdx blockquote {
  @apply border-l-4;
  @apply pl-5;
}
